@media (min-width: 1120px) {
  body {
    display: flex;
  }
  #aside {
    width: 320px;

    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    left: 0;
    box-shadow: none;
  }
  #aside__burger {
    display: none;
  }
  .aside__img {
    padding-right: 0px;
  }
  .aside__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 118px;
    padding-left: 22px;
    padding-right: 29px;
  }
  .aside__search {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border: none;
    border-radius: 50%;
  }

  .aside__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 37.19px;
    gap: 28.31px;
  }
  .aside__btn {
    position: relative;
    text-decoration: none;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    padding-left: 24px;
    background-color: #ffffff;
    border: none;
  }
  .aside__btn:hover::before {
    content: url("/SVG/aside/highlight\ \(1\).svg");
    position: absolute;
    left: 0;
  }
  .aside__btn:hover {
    color: #7e7e82;
    opacity: 0.9;
  }
  .aside__info {
    margin-top: 241px;
    margin-left: 19px;
    display: flex;
    flex-direction: column;
  }
  .aside__link {
    display: flex;
    gap: 16px;
  }
  .aside__mail {
    margin-top: 16.54px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .aside__tel {
    margin-top: 12.4px;
    font-family: "TT Lakes";
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    text-decoration: none;
  }
  .aside__lang-btn {
    margin-top: 40.82px;
    text-decoration: none;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;

    background-color: #ffffff;
    border: none;
  }
  .aside__lang-btn:hover {
    color: #7e7e82;
  }
  .header {
    display: none;
    width: auto;
    background-color: #ffffff;
  }
  .header__menu {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid #d9fff5;
    align-items: center;
    padding-top: 18.59px;
    padding-bottom: 18.59px;
  }
  .container {
    padding-left: 34px;
  }

  .title {
    display: flex;
    margin-top: 42px;
    margin-right: 7px;

    justify-content: space-between;
    align-items: center;
  }
  .title__text {
    font-family: "TT Lakes";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }
  .title__menu {
    display: flex;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .title__btn {
    display: flex;
    align-items: center;
    margin-right: 32px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    text-decoration: none;
    gap: 8px;
    background-color: #f8f8f8;
    border: none;
  }

  .title__repair:hover {
    content: url("/SVG/repairBlack.svg");
  }
  .title__checkstatus:hover {
    content: url("/SVG/checkstatusBlack.svg");
  }
  .title__text:hover::before {
    content: url("/SVG/highlight.svg");
    position: absolute;
    left: 0;
  }
  .navbar {
    margin-top: 8px;

    display: flex;
    flex-wrap: wrap;
  }
  .navbar__btn {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    border-radius: 6px;
    border: 2px solid #f8f8f8;
    background-color: #f8f8f8;
    padding-top: 8.63px;
    padding-bottom: 7.37px;
    padding-left: 22.64px;
    padding-right: 21.7px;
  }
  .navbar__btn:hover {
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid #b8ffec;
  }
  .info {
    display: flex;
    margin-top: 16.22px;
    margin-right: 28.65px;

    margin-bottom: 49px;
  }
  .info__text {
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    padding-right: 36px;
  }
  .info__laptop {
    margin-top: 10px;
  }
  .info__desktop {
    display: block;
  }
  .info__more {
    display: flex;
    margin-top: 10px;
  }

  .info__btn {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    border-radius: 6px;
    border: 2px solid #f8f8f8;
    background-color: #f8f8f8;
  }
  .info__mainimg {
    height: 307px;
    width: 531.35px;
  }
}
